---
import { faFileArrowDown } from "@fortawesome/free-solid-svg-icons";
import GithubCalendar from "../components/GithubCalendar";
import Title from "../components/Title.jsx";
---
<section class="h-full  flex flex-col items-center p-20 space-y-8" id="about">
  <div
    class="flex flex-col md:flex-row items-center md:items-start w-full max-w-4xl space-y-6 md:space-y-0 md:space-x-12 mt-20"
  >
    <div class="flex-shrink-0">
      <img
        src="..."
        alt="Avatar"
        class="w-64 h-64 rounded-full object-cover border-4 border-green-500"
      />
    </div>

    <div class="flex-grow">
      <Title title="Sobre mí" />
      <p
        class="mt-6 text-gray-700 text-lg md:text-xl leading-relaxed max-w-3xl mx-auto text-center"
      >
        Desarrollador con
        <span
          class="bg-gradient-to-r from-indigo-400 to-purple-500 bg-clip-text text-transparent font-semibold"
        >
          5 años de experiencia
        </span>
        en TI. Me motiva crear
        <span
          class="bg-gradient-to-r from-cyan-400 to-indigo-400 bg-clip-text text-transparent font-medium"
        >
          soluciones eficientes y de calidad
        </span>, aplicando buenas prácticas y explorando
        <span class="text-indigo-300">nuevas tecnologías</span>
        para afrontar retos innovadores.
      </p>
    </div>
  </div>


  <div class="w-full max-w-4xl pt-6 border-t border-gray-700">
    <h3 class="text-2xl font-semibold mb-4">Contribuciones</h3>
      <GithubCalendar client:load/>
  </div>
</section>
