---
import Title from "../components/Title.jsx";
---

<section id="portfolio" class="h-screen">
    <div class="w-7xl mx-auto h-auto p-8 flex flex-col justify-start">
        <div class="mb-8 text-center">
            <Title title="Contacto" />
        </div>

    </div>
</section>
