---
import Title from "../components/Title.jsx";
import TimelineItem from '../components/TimelineItem.jsx'; // Importar el componente React
import experienceData from '../data/experience.js'; // Importar los datos de experiencia
---

<section id="experiences" class="bg-gradient-to-l from-indigo-950 to-black py-12">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">

        <div class="text-center mb-12">
          <Title title="Experiencia Laboral" client:load />
        </div>

        <div class="relative wrap overflow-hidden p-10 h-full">

            <div class="absolute border-r-2 border-opacity-20 border-indigo-300 h-full"
                 style="left: 50%;">
            </div>

            {/* Mapeamos los datos y renderizamos el componente React animado */}
            {experienceData.map((item, index) => (
                <TimelineItem
                    content={item}
                    side={index % 2 === 0 ? "right" : "left"}
                    index={index}
                    client:load
                />
            ))}

        </div>
    </div>
</section>