---
import Main from '../layouts/Main.astro';
import Welcome from './welcome.astro';
import About from './about.astro';
import Skills from './skills.astro';
import Portfolio from './portfolio.astro';

---
<Main title="AngelDev">
  <Welcome />
  <About />
  <Skills />
  <Portfolio />
</Main>