---
import CardPortafolio from "../components/CardPortafolio.jsx";
---

<section id="portfolio" class="h-screen">
    <div class="container mx-auto h-full p-8 flex flex-col justify-start">
        <div class="mb-8 text-center">
            <h2
                class="text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-bl from-green-400 to-indigo-700"
            >
                Portafolio
            </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <CardPortafolio />
            <CardPortafolio />
            <CardPortafolio />
        </div>
    </div>
</section>
