---
import CardPortafolio from "../components/CardPortafolio.jsx";
import Title from "../components/Title.jsx";
---

<section id="portfolio" class="h-screen">
    <div class="w-7xl mx-auto h-auto p-8 flex flex-col justify-start">
        <div class="mb-8 text-center">
            <Title title="Portafolio" />
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6">
            <CardPortafolio />
            <CardPortafolio />
            <CardPortafolio />
        </div>
    </div>
</section>
