<section id="skills" class="h-auto bg-gradient-to-l from-indigo-950 to-black">

    sada

    <img src="../../public/icons/angular.svg">
    <img src="../../public/icons/azure.svg">
    <img src="../../public/icons/docker.svg">
    <img src="../../public/icons/dotnet.svg">
    <img src="../../public/icons/laravel.svg">
    <img src="../../public/icons/react.svg">
    <img src="../../public/icons/spring.svg">

    <img src="../../public/icons/tailwind.svg">
    <img src="../../public/icons/boostrap.svg">
    <img src="../../public/icons/node.svg">
    <img src="../../public/icons/python.svg">

</section>