---
import Skill from "../components/Skills.jsx";
import Title from "../components/Title.jsx";
---

<section id="skills" class="bg-gradient-to-l from-indigo-950 to-black py-12">
    <div class="text-center">
        <Title title="Habilidades" />
    </div>
    <Skill client:load />
</section>
