---
import Skill from "../components/Skills.jsx";
---

<section id="skills">
    <div
        class="bg-gradient-to-l from-indigo-950 to-black py-12 overflow-hidden"
    >
        <div class="container mx-auto px-4">
            <h2 class="text-5xl font-bold text-white mb-8">Skills</h2>
        </div>
        <Skill client:load />
    </div>
</section>
