---
import Skill from "../components/Skills.jsx";
---

<section id="skills" class="bg-gradient-to-l from-indigo-950 to-black py-12">
    <h2
        class="text-center text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-bl from-green-400 to-indigo-700"
    >
        Habilidades
    </h2>
    <Skill client:load />
</section>
