---
import TextLeyend  from '../components/TextLeyend.jsx';
import SocialIcons from '../components/SocialIcons.jsx';
import Avatar from '../components/Avatar.jsx';
---
<section class="h-svh bg-gradient-to-b from-indigo-950 to-black relative">
    <div class="w-full md:max-w-6xl mx-auto px-8 flex flex-col md:flex-row items-center justify-center h-full">
        <div class="text-white md:w-1/2 mb-10 md:mb-0">
            <h1 class="text-6xl font-bold mb-4">Hola Soy Angel<span class="hover:text-green-400 transition-colors duration-400">Dev</span></h1>
            <TextLeyend client:load />
            <SocialIcons client:load />
        </div>
        <div class="md:w-1/2 flex flex-col items-center">
            <Avatar client:load />
        </div>
    </div>
</section>
