@keyframes scroll {
    to {
        transform: translate(calc(-50%));
    }
}

.animate-scroll {
    animation: scroll 40s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}